body {
    background-color: #ddd;
    margin: 0;
    overflow-x: hidden;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #222;
    margin-bottom: 10px;
}

.navegacion {
    color: #eee;
    /* padding: 23px; */
    padding: 23px 50px 23px 50px;
    margin-right: 50px;
    border-radius: 3px;
}

.navegacion:hover {
    background-color: #333;
}

a {
    text-decoration: none;
    color: #ddd;
}

.index {
    text-align: center;
    margin:auto;
    width: 50%;
}
.hola{
    background-image: url(material/resident.jfif);
    background-size:cover;
    /* background-repeat: no-repeat; */
}
.hijo{
    border: none;
    
}

.imagen {
    animation: 0.3s;
}

.imagen:hover {
    opacity: 0.5;
}

.navegacion {
    display: inline-block;
}

/* ARTICULOS */

.texto {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #eee;
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 50px;
	padding: 30px;
	height: 300px;
	width: 500px;
	border-radius: 5px;
    transition: 0.3s ease;
}

.texto:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

/* TERMINO ARTICULOS */


/* PIE DE LA PAGINA */

.pie {
	display:flex;
	position: relative;
	background-color: #222;
	height: 150px;
	width: 100vw;
	bottom: 0;
	left: 0;
}

.instagram {
	display:flex;
	flex-direction: column;
	color: white;
}

#texto-instagram {
	position: relative;
	left: 50px;
	
}
.cuenta:hover {
	color: #bbb;
}

/* TERMINO DEL PIE DE LA PÁGINA */

