body {
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
    margin: 0;
    overflow-x: hidden;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #222;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #ddd;
}

.titulo {
    padding: 20px;
    background-color: #222;
    color: #ddd;
    text-align: center;
    width: 100%;
    margin-top:0;
}

.medio {
    display: grid;
    width:100%;
    grid-template-columns: 9fr 1fr; 
    /* grid-template-rows: 1fr 1fr; */
    margin: 10px 20px;
    grid-gap: 40px;
}


.imagen {
    animation: 0.3s;
}

.imagen:hover {
    opacity: 0.5;
}


/* ARTICULOS */

.articulos {
    display: grid;
    /* background-color: blue; */
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(1fr);
    /* grid-gap: 20px; */
    grid-row-gap: 50px;
}

.texto {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #eee;
	padding: 30px;
	height: 300px;
	width: 500px;
    min-width: 300px;
	border-radius: 5px;
    transition: 0.3s ease;
}

.texto:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

/* TERMINO ARTICULOS */

/* .derecha {
    background-color: red;
} */


/* PIE DE LA PAGINA */

.pie {
	display:flex;
	position: relative;
	background-color: #222;
	height: 150px;
	width: 100vw;
	bottom: 0;
	left: 0;
}

.instagram {
	display:flex;
	flex-direction: column;
	color: white;
}

#texto-instagram {
	position: relative;
	left: 50px;
	
}

.pie {
    list-style-type: none;
}
.cuenta:hover {
	color: #bbb;
}

/* TERMINO DEL PIE DE LA PÁGINA */


 /* HOLA HIJOS DE PUTA */
.hola{
    background-image: url(material/resident.jfif);
    background-size:cover;
}

.hijo{
    border: none;
    
}


@media (max-width: 800px) {
    .medio {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
    }

    .body {
        justify-content: center;
        /* margin: auto; */
    }
}